$timely-theme: (
  main: var(--timely-color-theme-main),
  50: #ffffff,
  100: var(--timely-color-theme-100),
  200: var(--timely-color-theme-200),
  300: var(--timely-color-theme-300),
  400: var(--timely-color-theme-400),
  500: var(--timely-color-theme-500),
  600: var(--timely-color-theme-600),
  700: var(--timely-color-theme-700),
  800: var(--timely-color-theme-800),
  900: var(--timely-color-theme-900),
  A100: var(--timely-color-theme-A100),
  A200: var(--timely-color-theme-A200),
  A400: var(--timely-color-theme-A400),
  A700: var(--timely-color-theme-A700),
  contrast: (
    main: var(--timely-color-theme-contrast-main),
    50: var(--timely-color-theme-contrast-50),
    100: var(--timely-color-theme-contrast-100),
    200: var(--timely-color-theme-contrast-200),
    300: var(--timely-color-theme-contrast-300),
    400: var(--timely-color-theme-contrast-400),
    500: var(--timely-color-theme-contrast-500),
    600: var(--timely-color-theme-contrast-600),
    700: var(--timely-color-theme-contrast-700),
    800: var(--timely-color-theme-contrast-800),
    900: var(--timely-color-theme-contrast-900),
    A100: var(--timely-color-theme-contrast-A100),
    A200: var(--timely-color-theme-contrast-A200),
    A400: var(--timely-color-theme-contrast-A400),
    A700: var(--timely-color-theme-contrast-A700)
  )
);

$timely-dark-primary-text: #000000;
$timely-light-primary-text: #f8f8f8;

$timely-error: (
  main: var(--timely-color-error-main),
  50: #ffffff,
  100: var(--timely-color-error-100),
  200: var(--timely-color-error-200),
  300: var(--timely-color-error-300),
  400: var(--timely-color-error-400),
  500: var(--timely-color-error-500),
  600: var(--timely-color-error-600),
  700: var(--timely-color-error-700),
  800: var(--timely-color-error-800),
  900: var(--timely-color-error-900),
  A100: var(--timely-color-error-A100),
  A200: var(--timely-color-error-A200),
  A400: var(--timely-color-error-A400),
  A700: var(--timely-color-error-A700),
  contrast: (
    main: var(--timely-color-error-contrast-main),
    50: var(--timely-color-error-contrast-50),
    100: var(--timely-color-error-contrast-100),
    200: var(--timely-color-error-contrast-200),
    300: var(--timely-color-error-contrast-300),
    400: var(--timely-color-error-contrast-400),
    500: var(--timely-color-error-contrast-500),
    600: var(--timely-color-error-contrast-600),
    700: var(--timely-color-error-contrast-700),
    800: var(--timely-color-error-contrast-800),
    900: var(--timely-color-error-contrast-900),
    A100: var(--timely-color-error-contrast-A100),
    A200: var(--timely-color-error-contrast-A200),
    A400: var(--timely-color-error-contrast-A400),
    A700: var(--timely-color-error-contrast-A700)
  )
);

$timely-warning: (
  main: var(--timely-color-warning-main),
  50: #ffffff,
  100: var(--timely-color-warning-100),
  200: var(--timely-color-warning-200),
  300: var(--timely-color-warning-300),
  400: var(--timely-color-warning-400),
  500: var(--timely-color-warning-500),
  600: var(--timely-color-warning-600),
  700: var(--timely-color-warning-700),
  800: var(--timely-color-warning-800),
  900: var(--timely-color-warning-900),
  A100: var(--timely-color-warning-A100),
  A200: var(--timely-color-warning-A200),
  A400: var(--timely-color-warning-A400),
  A700: var(--timely-color-warning-A700),
  contrast: (
    main: var(--timely-color-warning-contrast-main),
    50: var(--timely-color-warning-contrast-50),
    100: var(--timely-color-warning-contrast-100),
    200: var(--timely-color-warning-contrast-200),
    300: var(--timely-color-warning-contrast-300),
    400: var(--timely-color-warning-contrast-400),
    500: var(--timely-color-warning-contrast-500),
    600: var(--timely-color-warning-contrast-600),
    700: var(--timely-color-warning-contrast-700),
    800: var(--timely-color-warning-contrast-800),
    900: var(--timely-color-warning-contrast-900),
    A100: var(--timely-color-warning-contrast-A100),
    A200: var(--timely-color-warning-contrast-A200),
    A400: var(--timely-color-warning-contrast-A400),
    A700: var(--timely-color-warning-contrast-A700)
  )
);

$timely-success: (
  main: var(--timely-color-success-main),
  50: #ffffff,
  100: var(--timely-color-success-100),
  200: var(--timely-color-success-200),
  300: var(--timely-color-success-300),
  400: var(--timely-color-success-400),
  500: var(--timely-color-success-500),
  600: var(--timely-color-success-600),
  700: var(--timely-color-success-700),
  800: var(--timely-color-success-800),
  900: var(--timely-color-success-900),
  A100: var(--timely-color-success-A100),
  A200: var(--timely-color-success-A200),
  A400: var(--timely-color-success-A400),
  A700: var(--timely-color-success-A700),
  contrast: (
    main: var(--timely-color-success-contrast-main),
    50: var(--timely-color-success-contrast-50),
    100: var(--timely-color-success-contrast-100),
    200: var(--timely-color-success-contrast-200),
    300: var(--timely-color-success-contrast-300),
    400: var(--timely-color-success-contrast-400),
    500: var(--timely-color-success-contrast-500),
    600: var(--timely-color-success-contrast-600),
    700: var(--timely-color-success-contrast-700),
    800: var(--timely-color-success-contrast-800),
    900: var(--timely-color-success-contrast-900),
    A100: var(--timely-color-success-contrast-A100),
    A200: var(--timely-color-success-contrast-A200),
    A400: var(--timely-color-success-contrast-A400),
    A700: var(--timely-color-success-contrast-A700)
  )
);

$timely-question: (
  main: var(--timely-color-question-main),
  50: #ffffff,
  100: var(--timely-color-question-100),
  200: var(--timely-color-question-200),
  300: var(--timely-color-question-300),
  400: var(--timely-color-question-400),
  500: var(--timely-color-question-500),
  600: var(--timely-color-question-600),
  700: var(--timely-color-question-700),
  800: var(--timely-color-question-800),
  900: var(--timely-color-question-900),
  A100: var(--timely-color-question-A100),
  A200: var(--timely-color-question-A200),
  A400: var(--timely-color-question-A400),
  A700: var(--timely-color-question-A700),
  contrast: (
    main: var(--timely-color-question-contrast-main),
    50: var(--timely-color-question-contrast-50),
    100: var(--timely-color-question-contrast-100),
    200: var(--timely-color-question-contrast-200),
    300: var(--timely-color-question-contrast-300),
    400: var(--timely-color-question-contrast-400),
    500: var(--timely-color-question-contrast-500),
    600: var(--timely-color-question-contrast-600),
    700: var(--timely-color-question-contrast-700),
    800: var(--timely-color-question-contrast-800),
    900: var(--timely-color-question-contrast-900),
    A100: var(--timely-color-question-contrast-A100),
    A200: var(--timely-color-question-contrast-A200),
    A400: var(--timely-color-question-contrast-A400),
    A700: var(--timely-color-question-contrast-A700)
  )
);

$timely-font-name: var(--timely-font-name);
