@import 'assets/scss/components/breakpoints.scss';

:host {
  width: 100%;
  height: 100%;

  .date-range-picker {
    background: #fafafa;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 38px;
      height: 38px;
      border-radius: 8px;
      background-position: center;
      background: #0273e8;
      color: #fff;
      border: none;
      border-radius: 8px;
    }

    .btn:hover {
      opacity: 0.8;
    }

    .btn:active {
      box-shadow: 0 1px #666;
      transform: translateY(1px);
    }

    @include media-breakpoint('xs') {
      padding: 16px;
    }

    .header {
      display: flex;
      flex-direction: column;

      .calendar-title {
        align-items: center;
        color: #4b4a53;
        display: flex;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        margin-bottom: 8px;
        text-align: center;

        .month-year-title {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }

      .week {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .week-day {
          align-items: center;
          color: #4b4a53;
          display: flex;
          font-size: 14px;
          font-style: normal;
          font-weight: normal;
          justify-content: center;
          line-height: 16px;
          margin-bottom: 8px;
          text-align: center;
          height: 16px;
          width: 100%;

          @include media-breakpoint('xs') {
            height: 42px;
            width: 42px;
          }
        }
      }
    }

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .month-week {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }

      .month-day {
        border: 1px solid #ebebeb;
        box-sizing: border-box;
        border-radius: 16px;
        align-items: center;
        color: #4b4a53;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        line-height: 16px;
        margin: 4px;
        text-align: center;
        width: 100%;
        min-height: 65px;
        display: flex;
        flex-direction: column;
        padding: 4px;

        @include media-breakpoint('xs') {
          height: 42px;
          width: 42px;
        }

        &.inactive {
          cursor: not-allowed !important;
          border: none;
          opacity: 0.5;
        }

        &.today {
          color: #000;
          font-weight: 700;
        }

        .month-day-events {
          width: 100%;
        }

        .more-events {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 24px;
          color: #9c9ca6;
        }
      }

      .selected {
        background: #ebebeb;
        color: #000;
      }

      .first-selected {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      .last-selected {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
