:host {
  position: fixed;
  padding: 4px;
  right: 12px;
  top: 65px;
  width: 100%;
  height: 100%;
  max-width: 400px;
  background-color: #fafafa;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: -8px 9px 25px 3px rgba(0,0,0,0.39); 
box-shadow: -8px 9px 25px 3px rgba(0,0,0,0.39);

  .title {
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    justify-content: center;
    color: #4b4a53;
  }

  .close {
    cursor: pointer !important;
    float: right;
    margin-right: 8px;
    color: #adadad;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .close:hover {
    color: #474747;
  }

  .close:active {
    transform: translateY(1px);
  }
}
